

<ng-container *transloco="let t; prefix :'edit-page-modal'">

  <div class="modal-container">

    <div class="modal-header">
      <span class="modal-title">{{t('title')}}</span>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      <form [formGroup]="pageForm">

        <div class="text-muted" [innerHtml]="t('wiki') | safeHtml"></div>

        <div class="row">

          <div class="col-md-6 col-sm-12 pt-2">
            @if (pageForm.get('title'); as control) {
              <app-settings-item [control]="control" [title]="t('title-label')" [tooltip]="t('title-tooltip')">
                <ng-template #view>{{control.value | defaultValue}}</ng-template>
                <ng-template #edit>
                  <input type="text" formControlName="title" class="form-control">
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-6 col-sm-12 pt-2">
            @if (pageForm.get('icon'); as control) {
              <app-settings-item [control]="control" [title]="t('icon-label')" [tooltip]="t('icon-tooltip')">
                <ng-template #view>
                  <i [class]="'fa ' + control.value"></i>
                  @if (!control.value) {
                    <span>{{null | defaultValue}}</span>
                  }
                </ng-template>
                <ng-template #edit>
                  <input type="text" formControlName="icon" class="form-control">
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-6 col-sm-12 pt-2">
            @if (pageForm.get('provider'); as control) {
              <app-settings-item [title]="t('provider-label')" [tooltip]="t('provider-tooltip')" [control]="control">
                <ng-template #view>{{ control.value | providerName }}</ng-template>
                <ng-template #edit>
                  <select class="form-select" formControlName="provider">
                    @for (provider of AllProviders; track provider) {
                      <option [ngValue]="provider">{{ provider | providerName }}</option>
                    }
                  </select>
                </ng-template>
              </app-settings-item>
            }
          </div>

          <div class="col-md-6 col-sm-12 pt-2">
            @if (pageForm.get('customRootDir'); as control) {
              <app-settings-item [control]="control" [title]="t('custom-root-dir-label')" [tooltip]="t('custom-root-dir-tooltip')">
                <ng-template #view>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-primary btn-small me-2" (click)="pickCustomRootDir()"><i class="fa fa-folder"></i></button>
                    <span>{{control.value | defaultValue}}</span>
                  </div>
                </ng-template>
                <ng-template #edit>
                  <div class="d-flex">
                    <button class="btn btn-primary me-2" (click)="pickCustomRootDir()"><i class="fa fa-folder"></i></button>
                    <input type="text" formControlName="customRootDir" class="form-control">
                  </div>
                </ng-template>
              </app-settings-item>
            }
          </div>

        </div>

      </form>

    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="close()">
        {{t(('close'))}}
      </button>
      <button class="btn btn-primary" (click)="save()" [disabled]="!pageForm.valid">
        {{t('save')}}
      </button>
    </div>

  </div>

</ng-container>
