bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*.log
temp
appsettings.Development.json
.DS_Store
Mnema.sln.DotSettings.user
*.db
Mnema.Metadata.Mangabaka.Lucene
*.tar.gz
**/bin/
**/obj/
*.db-wal
*.db-shm
