

<ng-container *transloco="let t; prefix : translationKey()">

  <div class="modal-container">

    <div class="modal-header">
      <span class="modal-title">
        @if (title(); as title) {
          {{title}}
        } @else {
          {{t('title')}}
        }
      </span>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      @if (descriptionTemplate(); as templ) {
        <ng-container [ngTemplateOutlet]="templ" [ngTemplateOutletContext]="{$implicit: formGroup()}" />
      } @else if (formDefinition().descriptionKey; as descriptionKey) {
        <span>{{t(descriptionKey)}}</span>
        <div class="setting-section-break"></div>
      }

      <app-generic-form
        [double]="double()"
        [formDefinition]="formDefinition()"
        [initialValue]="initialValue()"
        [nullable]="nullable()"
        [inModal]="true"
        [showChanges]="showChanges()"
        (formGroupTracker)="formGroup.set($event)"
        />

    </div>

    <div class="modal-footer">
      @let formGroupValue = formGroup();

      <button class="btn btn-secondary" (click)="close()">
        {{t(('close'))}}
      </button>
      <button class="btn btn-primary" (click)="save()" [disabled]="!(formGroupValue && formGroupValue.valid)">
        {{t('save')}}
      </button>
    </div>

  </div>

</ng-container>
