@if (loading()) {
  <app-loading-spinner />
}

@if (!loading() || !hideOnLoading()) {
  @if (itemsTemplate) {
    <ng-container [ngTemplateOutlet]="itemsTemplate" [ngTemplateOutletContext]="{$implicit: items()}">
    </ng-container>
  } @else {
    <ng-content></ng-content>
  }
}

@if (totalPages() > 1) {
  <div class="pagination-container" *transloco="let t; prefix: 'paginator'">
    <div class="pagination-info">
      <span class="pagination-text">
        {{t('pages', {currentPage: currentPageDisplay(), totalPages: totalPages()})}}
      </span>
    </div>

    <div class="pagination-controls">
      <button
        class="pagination-btn pagination-btn-prev"
        [disabled]="currentPage() === 0"
        (click)="prevPage()">
        {{t('prev')}}
      </button>

      <div class="pagination-numbers">
        @for (pageItem of visiblePages(); track $index) {
          @if (pageItem != '...') {
            <button
              class="pagination-btn pagination-btn-number"
              [class.active]="currentPageDisplay() === pageItem"
              (click)="goToPage(pageItem)">
              {{ pageItem }}
            </button>
          } @else {
            <span class="pagination-ellipsis">{{ pageItem }}</span>
          }
        }
      </div>

      <button
        class="pagination-btn pagination-btn-next"
        [disabled]="currentPage() === totalPages() - 1"
        (click)="nextPage()">
        {{t('next')}}
      </button>
    </div>
  </div>
}
