
<div class="d-flex flex-column" *transloco="let t; prefix:'import-scan-overview'">

  <div class="d-flex">
    INFO
  </div>

  <div class="row mt-5">

    <div class="col-3">

      <div class="row mb-2">
        <ul class="nav nav-tabs col-12">
          <li class="nav-item col-6">
            <button
              type="button"
              class="nav-link w-100"
              [class.active]="mode() === 'directories'"
              (click)="mode.set('directories')">
              {{ t('directories') }}
            </button>
          </li>
          <li class="nav-item col-6">
            <button
              type="button"
              class="nav-link w-100"
              [class.active]="mode() === 'errors'"
              (click)="mode.set('errors')">
              {{ t('errors') }}
            </button>
          </li>
        </ul>
      </div>

      <app-paginator
        [pageLoader]="pageLoader"
        [noResultsKey]="null"
        [simplePagination]="true"
        [reloader]="reloader"
        (currentItems)="setCurrentItems($event)"
      >

        <ng-template let-items #items>

          <div id="items">
            @for (item of items; track item.id) {
              @if (mode() === 'errors') {
                <div class="card p-2 mb-2 item-card clickable"
                     (click)="selectItem(item)"
                     [class.active]="selectedItem()?.id == item.id">
                  <span class="text-muted">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{item.message}}
                  </span>
                </div>
              } @else if (mode() === 'directories') {
                <div class="card p-2 mb-2 item-card clickable"
                     (click)="selectItem(item)"
                     [class.active]="selectedItem()?.id == item.id"
                     [class.rejected]="item.status === DirectoryImportStatus.Rejected"
                >
                  <span class="text-muted">
                    <i class="fa fa-folder"></i>
                    @if (item.parsedSeriesName) {
                      {{item.parsedSeriesName}}
                    } @else {
                      {{item.directory}}
                    }
                  </span>
                </div>
              }
            }
          </div>

        </ng-template>

        <ng-template #empty>
          <div class="alert alert-warning" role="alert">
            {{ t('empty') }}
          </div>
        </ng-template>

      </app-paginator>
    </div>

    <div class="col-9">
      @if (selectedItem(); as item) {
        @if (mode() === 'directories') {
          <app-directory-import-scan-result-overview [result]="$any(item)" (decisionResult)="handleDirectoryImportResult($event)" />
        }
      } @else {
        <div class="alert alert-info" role="alert">
          {{ t('select-item') }}
        </div>
      }

    </div>

  </div>

</div>
