
.item-card.active {
  background-color: var(--surface-hover);
}

.item-card.rejected {
  background-color: var(--error-color);
  opacity: 0.75;
}

.item-card.imported {
  background-color: var(--secondary-color-light);
  opacity: 0.75;
}


#items {
  height: 60vh;
  overflow-y: auto;
}
