
<div class="p-sm-2 p-md-5">
  @defer (when selected() === SettingsID.Preferences; prefetch on idle) {
    @if (selected() === SettingsID.Preferences && canSee(SettingsID.Preferences)) {
      <app-preference-settings />
    }
  }

  @defer (when selected() === SettingsID.Pages; prefetch on idle) {
    @if (selected() === SettingsID.Pages && canSee(SettingsID.Pages)) {
      <app-pages-settings />
    }
  }

  @defer (when selected() === SettingsID.Server; prefetch on idle) {
    @if (selected() === SettingsID.Server && canSee(SettingsID.Server)) {
      <app-server-settings />
    }
  }

  @defer (when selected() === SettingsID.Connections; prefetch on idle) {
    @if (selected() === SettingsID.Connections && canSee(SettingsID.Connections)) {
      <app-external-connection-settings />
    }
  }

  @defer (when selected() === SettingsID.DownloadClients; prefetch on idle) {
    @if (selected() === SettingsID.DownloadClients && canSee(SettingsID.DownloadClients)) {
      <app-download-client-settings />
    }
  }
</div>
