<ng-container *transloco="let t; prefix: 'edit-subscription-modal'">

  <div class="modal-container">

    <div class="modal-header">
      <h5 class="modal-title fw-semibold">
        @if (subscription().id === '') {
          {{t('new-sub-title', {name: subscription().title})}}
        } @else {
          {{t('title', {name: subscription().title})}}
        }
      </h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      @let formDefinitionValue = formDefinition();
      @let optionsFormDefinitionValue = optionsFormDefinition();
      @let advancedFormDefinitionValue = advancedFormDefinition();

      @if (formDefinitionValue && optionsFormDefinitionValue && advancedFormDefinitionValue) {
        <ul class="nav nav-tabs">
          <li class="nav-item" (click)="activeTab = 'general'">
            <a class="nav-link" [class.active]="activeTab === 'general'">{{ t('general') }}</a>
          </li>
          <li class="nav-item" (click)="activeTab = 'options'">
            <a class="nav-link" [class.active]="activeTab === 'options'">{{ t('options') }}</a>
          </li>
          <li class="nav-item" (click)="activeTab = 'advanced'">
            <a class="nav-link" [class.active]="activeTab === 'advanced'">{{ t('advanced') }}</a>
          </li>
        </ul>

        <div class="tab-content mt-2 mx-4">

          <div class="tab-pane" [class.active]="activeTab === 'general'">
            <app-generic-form
              [formDefinition]="formDefinitionValue"
              [supplyFormGroup]="subscriptionForm"
              [initialValue]="subscription()"
            ></app-generic-form>
          </div>

          <div class="tab-pane" [class.active]="activeTab === 'options'">
            <app-generic-form
              [formDefinition]="optionsFormDefinitionValue"
              [supplyFormGroup]="subscriptionForm"
              [initialValue]="subscription()"
            ></app-generic-form>
          </div>

          <div class="tab-pane" [class.active]="activeTab === 'advanced'">
            <app-generic-form
              [formDefinition]="advancedFormDefinitionValue"
              [supplyFormGroup]="subscriptionForm"
              [initialValue]="subscription()"
            ></app-generic-form>
          </div>

        </div>

      }

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-primary" (click)="save()">
        <span>{{ subscription().id === '' ? t('create') : t('save')}}</span>
      </button>
    </div>

  </div>

</ng-container>
