
<ng-container *transloco="let t; prefix: 'edit-user-modal'">

  <div class="modal-container">

    <div class="modal-header">
      <h5 class="modal-title fw-semibold">
        @if (user().id === -1) {
          {{t('new-user-title', {name: userName()})}}
        } @else {
          {{t('title', {name: userName()})}}
        }
      </h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      <form [formGroup]="userForm" class="row form-group">

        <div class="col-md-6 col-sm-12">
          @if (userForm.get('name'); as control) {
            <app-settings-item [control]="control" [title]="t('user-label')" [tooltip]="t('user-tooltip')">
              <ng-template #view>{{control.value | defaultValue}}</ng-template>
              <ng-template #edit>
                <input formControlName="name" type="text" id="user-name" class="form-control">
              </ng-template>
            </app-settings-item>
          }
        </div>

        <div class="col-md-6 col-sm-12">
          @if (userForm.get('email'); as control) {
            <app-settings-item [control]="control" [title]="t('email-label')" [tooltip]="t('email-tooltip')">
              <ng-template #view>{{control.value | defaultValue}}</ng-template>
              <ng-template #edit>
                <input formControlName="email" type="text" id="email-name" class="form-control">
              </ng-template>
            </app-settings-item>
          }
        </div>

        <div class="col-md-6 col-sm-12 pt-4 mb-lg-5">
          <app-type-ahead [settings]="rolesTypeaheadSettings()" (selectedData)="updatePerms($event)">
            <ng-template #label>{{t('role-label')}}</ng-template>
            <ng-template #badgeItem let-role>{{role | role}}</ng-template>
            <ng-template #optionItem let-role>{{role | role}}</ng-template>
          </app-type-ahead>
        </div>

        <div class="col-md-6 col-sm-12 pt-4 mb-lg-5" formArrayName="pages">
          @if (userForm.get('pages'); as control) {
            @for (pageControl of pagesFormArray.controls; track $index; let i = $index) {
              <div class="form-check" [formGroupName]="i">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="checked"
                  [id]="'page-' + pageControl.get('id')?.value">
                <label class="form-check-label" [for]="'page-' + pageControl.get('id')?.value">
                  {{ getPageName(pageControl.get('id')?.value || -1) | defaultValue }}
                </label>
              </div>
            }
          }
        </div>

      </form>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!userForm.valid">
        <span>{{ t('save')}}</span>
      </button>
    </div>

  </div>

</ng-container>
