@if (pages().length > 0 && user()) {
  <div class="mt-4" *transloco="let t; prefix: 'settings.pages'">

    <h2 class="h2 fw-bold mt-4 mb-3">{{ t('title') }}</h2>

    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary" (click)="edit(null)">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <app-table
      [pagination]="false"
      [dragAble]="true"
      (onDrop)="drop($event)"
      [items]="pages()"
      [trackByIdFunc]="trackBy"
    >
      <ng-template #header>
        <tr>
          <th class="table-header-cell" style="width: 10%"></th>
          <th class="table-header-cell" style="width: 10%">{{ t('header.icon') }}</th>
          <th class="table-header-cell">{{ t('header.title') }}</th>
          <th class="table-header-cell">{{ t('header.actions') }}</th>
        </tr>
      </ng-template>

      <ng-template #cell let-item>
        <td class="table-cell">
          <span class="fas fa-grip-lines drag-handle" cdkDragHandle></span>
        </td>

        <td class="table-cell w-16 text-center">
          <span [class]="'fa ' + item.icon"></span>
        </td>

        <td class="table-cell">
          <a
            [routerLink]="'/page'"
            [queryParams]="{ index: item.ID }"
            class="hover:cursor-pointer"
          >
            {{ item.title }}
          </a>
        </td>

        <td class="table-cell d-flex align-items-center gap-2 justify-end">
          <button
            type="button"
            class="btn btn-small"
            (click)="edit(item)"
          >
            <i class="fa fa-edit"></i>
          </button>

          <button
            type="button"
            class="btn btn-small text-danger"
            (click)="remove(item)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </ng-template>
    </app-table>
  </div>
}
