@if (authUser) {
  <div *transloco="let t; prefix: 'settings.users'">

    <h2 class="h2 fw-bold mt-4 mb-3">{{ t('title') }}</h2>


    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary" (click)="edit(null)" [disabled]="emptyUserPresent()">
        <i class="fa fa-plus"></i>
      </button>
    </div>


    <app-table
      [pagination]="true"
      [items]="users()"
      [trackByIdFunc]="trackBy"
    >
      <ng-template #header>
        <tr>
          <th class="table-header-cell"></th>
          <th class="table-header-cell">{{ t('name') }}</th>
          <th class="table-header-cell">{{ t('actions.label') }}</th>
        </tr>
      </ng-template>

      <ng-template #cell let-user>
        <td class="table-cell">
          <span class="fa fa-user"></span>
        </td>

        <td class="table-cell">
          {{ user.name }}
        </td>

        <td class="table-cell d-flex justify-content-end align-items-center">
          @if (user.id === authUser.id) {
            <button
              type="button"
              class="btn "
              [ngbTooltip]="t('actions.api-key.regen')"
              (click)="resetApiKey()"
            >
              <i class="fa fa-key"></i>
            </button>

            <button
              type="button"
              class="btn "
              [ngbTooltip]="t('actions.api-key.copy')"
              (click)="copyApiKey()"
            >
              <i class="fa fa-copy"></i>
            </button>
          }

          <button
            type="button"
            class="btn "
            [ngbTooltip]="t('actions.edit')"
            (click)="edit(user)"
          >
            <i class="fa fa-user-edit"></i>
          </button>

          @if (user.canDelete) {
            <button
              type="button"
              class="btn  text-danger"
              [ngbTooltip]="t('actions.delete')"
              (click)="deleteUser(user)"
            >
              <i class="fa fa-user-minus"></i>
            </button>
          }

          <button
            type="button"
            class="btn  text-warning"
            [ngbTooltip]="t('actions.reset-password')"
            (click)="resetPassword(user)"
          >
            <i class="fa fa-refresh"></i>
          </button>
        </td>
      </ng-template>
    </app-table>
  </div>
}
