
.band-primary {
  background-color: var(--primary-color);
}

.band-secondary {
  background-color: var(--secondary-color);
}

.band-warning {
  background-color: var(--warning-color);
}

.band-error {
  background-color: var(--error-color);
}
