<ng-container *transloco="let t; prefix: 'confirm-modal'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">{{title()}}</h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">
      @if (bodyTemplate(); as bodyTemplate) {
        <ng-container [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{ $implicit: templateData()}"></ng-container>
      } @else {
        <div>{{question()}}</div>
      }
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-primary" (click)="confirm()">
        <span>{{ t('confirm')}}</span>
      </button>
    </div>
  </div>
</ng-container>
