<ng-container *transloco="let t; prefix: 'download-modal'">

  <div class="modal-container">

    <div class="modal-header">
      <h5 class="modal-title fw-semibold">{{t('title', {name: info().name})}}</h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      @let generalFormDefinitionValue = generalFormDefinition();
      @let advancedFormDefinitionValue = advancedFormDefinition();

      @if (generalFormDefinitionValue && advancedFormDefinitionValue) {
        <ul class="nav nav-tabs">
          <li class="nav-item" (click)="activeTab = 'general'">
            <a class="nav-link" [class.active]="activeTab === 'general'">{{ t('general') }}</a>
          </li>
          <li class="nav-item" (click)="activeTab = 'advanced'">
            <a class="nav-link" [class.active]="activeTab === 'advanced'">{{ t('advanced') }}</a>
          </li>
        </ul>

        <div class="tab-content mt-2 mx-4">

          <div class="tab-pane" [class.active]="activeTab === 'general'">
            <app-generic-form
              [formDefinition]="generalFormDefinitionValue"
              [supplyFormGroup]="downloadForm"
              [initialValue]="baseRequest()"
            ></app-generic-form>
          </div>

          <div class="tab-pane" [class.active]="activeTab === 'advanced'">
            <app-generic-form
              [formDefinition]="advancedFormDefinitionValue"
              [supplyFormGroup]="downloadForm"
              [initialValue]="baseRequest()"
            ></app-generic-form>
          </div>

        </div>

      }

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-primary" (click)="download()" [disabled]="!downloadForm.valid">
        <span>{{ t('download')}}</span>
      </button>
    </div>

  </div>

</ng-container>
