<div *transloco="let t; prefix: 'settings.metadata-provider'">

  <span class="text-muted">{{t('description')}}</span>
  <div class="mt-4"></div>

  <app-table
    [trackByIdFunc]="trackBy"
    [items]="sortedMetadataProviders()"
    [noMobileCards]="true"
    [dragAble]="true"
    (onDrop)="drop($event)"
  >

    <ng-template #header>
      <tr>
        <th class="table-header-cell" style="width: 10%"></th>
        <th class="table-header-cell">{{ t('header.name') }}</th>
        <th class="table-header-cell" style="width: 15%">{{ t('header.edit') }}</th>
      </tr>
    </ng-template>

    <ng-template #cell let-provider>
      <td class="table-cell">
        <span class="fas fa-grip-lines drag-handle" cdkDragHandle></span>
      </td>
      <td class="table-cell">
        {{ provider | metadataProvider }}
      </td>

      <td class="table-cell">
        <button
          type="button"
          class="btn btn-small"
          (click)="edit(provider)"
        >
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </ng-template>

  </app-table>

</div>
