<ng-container *transloco="let t; prefix: 'edit-page-modifier-modal'">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">{{t('title')}}</h5>
      <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()">
      </button>
    </div>

    <div class="modal-body scrollable-modal">

      <form [formGroup]="modifierForm()" class="row">

        <div class="col-md-4 col-sm-12">
          @if (modifierForm().get('title'); as control) {
            <app-settings-item [control]="control" [title]="t('title-label')" [tooltip]="t('title-tooltip')">
              <ng-template #view>{{control.value | defaultValue}}</ng-template>
              <ng-template #edit><input type="text" formControlName="title" class="form-control"></ng-template>
            </app-settings-item>
          }
        </div>

        <div class="col-md-4 col-sm-12">
          @if (modifierForm().get('key'); as control) {
            <app-settings-item [control]="control" [title]="t('key-label')" [tooltip]="t('key-tooltip')">
              <ng-template #view>{{control.value | defaultValue}}</ng-template>
              <ng-template #edit><input type="text" formControlName="key" class="form-control"></ng-template>
            </app-settings-item>
          }
        </div>

        <div class="col-md-4 col-sm-12">
          @if (modifierForm().get('type'); as control) {
            <app-settings-item [control]="control" [title]="t('type-label')" [tooltip]="t('type-tooltip')">
              <ng-template #view>{{control.value | modifierType}}</ng-template>
              <ng-template #edit>
                <select class="form-control form-select" formControlName="type">
                  @for (opt of AllModifierTypes; track opt) {
                    <option [ngValue]="opt">{{opt | modifierType}}</option>
                  }
                </select>
              </ng-template>
            </app-settings-item>
          }
        </div>

        @if (modifierForm().get('type')!.value !== ModifierType.SWITCH) {
          <h5 class="pt-4">{{t('values-label')}}</h5>

          @for (valueForm of valuesFormArray.controls; track valueForm.get('key')!.value; let last = $last; let idx = $index) {
            <div class="row align-items-center" [formGroup]="valueForm">

              <div class="col-md-4 col-sm-12 pt-4">
                @if (valueForm.get('value'); as control) {
                  <app-settings-item [control]="control" [title]="t('value-label')" [isEditMode]="true" [showEdit]="false">
                    <ng-template #edit><input type="text" formControlName="value" class="form-control"></ng-template>
                  </app-settings-item>
                }
              </div>
              <div class="col-md-4 col-sm-12 pt-4">
                @if (valueForm.get('key'); as control) {
                  <app-settings-item [control]="control" [title]="t('key-label')" [isEditMode]="true" [showEdit]="false">
                    <ng-template #edit><input type="text" formControlName="key" class="form-control"></ng-template>
                  </app-settings-item>
                }
              </div>
              <div class="col-md-4 col-sm-12 pt-4">
                @if (valueForm.get('default'); as control) {
                  <div class="d-flex">
                    <input type="checkbox" formControlName="default" class="form-check me-2">
                    <span>{{t('default')}}</span>
                  </div>
                }
                <div>
                  <button class="btn btn-error btn-small me-2" (click)="deleteModifier(idx)"><i class="fa fa-trash"></i></button>
                  @if (last) {
                    <button class="btn btn-primary btn-small" (click)="addModifier()" [disabled]="!valueForm.valid"><i class="fa fa-plus"></i></button>
                  }
                </div>
              </div>
            </div>
          } @empty {
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary btn-small" (click)="addModifier()"><i class="fa fa-plus"></i></button>
            </div>
          }
        }

      </form>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button type="button" class="btn btn-primary" [disabled]="!modifierForm().valid" (click)="save()">
        <span>{{ t('save')}}</span>
      </button>
    </div>
  </div>
</ng-container>
