<div class="container-fluid px-2" *transloco="let t; prefix: 'account'">

  <form [formGroup]="accountForm" (ngSubmit)="saveAccount()" class="mb-4">
    <h2 class="h2 fw-bold mt-4 mb-3">{{ t('title') }}</h2>

    @if (getFormControl(accountForm, 'username'); as username) {
      <div class="mb-3">
        <app-form-input [control]="username" [title]="t('username.label')" [subTitle]="t('username.subTitle')" />
      </div>
    }

    @if (getFormControl(accountForm, 'email'); as email) {
      <div class="mb-3">
        <app-form-input [control]="email" type="email" [title]="t('email.label')" [subTitle]="t('email.subTitle')" />
      </div>
    }

    <div class="d-flex justify-content-end pt-4">
      <button type="submit" class="btn btn-primary">
        {{ t('save') | titlecase }}
      </button>
    </div>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" class="mt-5">
    <hr class="border-dark mb-4">

    <h3 class="h3 fw-semibold mb-3">{{ t('password.title') }}</h3>

    @if (getFormControl(passwordForm, 'oldPassword'); as oldPassword) {
      <div class="mb-3">
        <app-form-input [control]="oldPassword" type="password" [title]="t('oldPassword.label')" />
      </div>
    }

    @if (getFormControl(passwordForm, 'password'); as password) {
      <div class="mb-3">
        <app-form-input [control]="password" type="password" [title]="t('password.label')" />
      </div>
    }

    @if (getFormControl(passwordForm, 'confirmPassword'); as confirmPassword) {
      <div class="mb-3">
        <app-form-input [control]="confirmPassword" type="password" [title]="t('confirm.label')" />
      </div>
    }

    <div class="d-flex justify-content-end pt-4">
      <button type="submit" class="btn btn-primary">
        {{ t('password.save') | titlecase }}
      </button>
    </div>
  </form>
</div>
